:root {
    --bg-color: #d33a2c;
    --green: #41b14f;
    --red: #e33a2c;
    --lightblue: #effaff;
    --blue: #006fc6;
    --black: #333;
    --white: #fff;
}

body {
    background: var(--bg-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
    flex-direction: column;
    margin: 0;
}

/* nav bar */

.nav {
    justify-content: space-around;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    font-size: 19px;
    padding: 0.5rem;
    border: transparent dotted 3px;
    color: var(--white);
}

nav a:hover {
    background-color: rgba(150, 49, 49, 0.524);
    border-radius: 0.5rem;
}

nav a:active {
    border-color: rgba(150, 49, 49, 0.524);
}

form {
    font-size: 18px;
    justify-content: center;
    position: relative;
}

form input {
    font-size: inherit;
    border-radius: 0.3em;
    background-color: var(--white);
    border: 1px solid lightgrey;
    padding-left: 1.5em;
    padding-top: 0.5rem;
    padding-bottom: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 20px 0px;
}

.search-icon {
    font-size: inherit;
    position: absolute;
    left: 0.5em;
    width: 1em;
    bottom: 0.65em;
    fill: var(--red);
}

/* main card */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 0 1em 1em 1em;
}

p {
    margin: 1rem;
}

.card {
    background: var(--white);
    padding: 1rem;
    width: 100%;
    max-width: 600px;
    border-radius: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

main form {
    margin: 1rem;
}

h1 {
    color: var(--green);
    margin-left: 1rem;
    margin-right: 3rem;
}

main img {
    margin-left: 10rem;
}

.login-input {
    background-color: rgba(195, 233, 247, 0.68);
    padding: 0.3rem;
    border-radius: 0.3rem;
    border: 1px solid lightgrey;
}

.login-input--border-left {
    border-radius: 0.3rem 0 0 0.3rem;
}

/* buttons */

.green-button {
    display: block;
    margin: 1rem 0.5rem 0.5rem 0;
    background-color: var(--green);
    color: var(--white);
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    border: 0;
}

.orange-button {
    background-color: var(--red);
    color: var(--white);
    border: 0;
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    padding: 0.2rem 1rem;
    margin: 0;
}

@media screen and (max-width:450px) {
    nav {
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .card-header {
        flex-direction: column;
    }

    main img {
        width: 50%;
        margin: 0 auto;
    }
}

.card a:visited,
.card a:link {
    color: var(--blue);
}